@model Trabalho.Models.aluguere

@{
    ViewBag.Title = "EditAluguer";
}

<h2>Editar o Aluguer</h2>

@using (Html.BeginForm("EditAluguer", "Stand", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idal)
    <hr />

    <div class="form-horizontal" style="max-width:520px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.idcli, "Cliente", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.idcli, ViewBag.clientes as SelectList, new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.idcli, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idcar, "Carro", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.idcar, ViewBag.carros as SelectList, new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.idcar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.inicio, "Data de Início", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.inicio, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fim, "Data de Fim", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fim, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.fim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Guardar" />
            </div>
        </div>
    </div>
}

<div style="margin-top:12px;">
    <a href="@Url.Action("Alugueres", "Stand")" class="btn-link-custom">&#8592; Voltar à lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}